.section {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.div {
    flex-direction: column;
}

.heading {
    color: #00813f;;
    align-items: center;
    font-family: Montserrat-bold, sans-serif;
    font-size: 29px;
    display: flex;
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: center;
}

.login {
    background-color: #ffb400;
    border-radius: 10px;
    font-family: Montserrat-bold, sans-serif;
}